<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="xamarinios10" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="xamarinios10" />
  <package id="PInvoke.BCrypt" version="0.3.2" targetFramework="xamarinios10" />
  <package id="PInvoke.Kernel32" version="0.3.2" targetFramework="xamarinios10" />
  <package id="PInvoke.NCrypt" version="0.3.2" targetFramework="xamarinios10" />
  <package id="PInvoke.Windows.Core" version="0.3.2" targetFramework="xamarinios10" />
  <package id="Plugin.Permissions" version="6.0.1" targetFramework="xamarinios10" />
  <package id="Validation" version="2.4.22" targetFramework="xamarinios10" />
  <package id="WebP.Touch" version="1.0.8" targetFramework="xamarinios10" />
  <package id="Xamarin.Auth" version="1.6.0.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Essentials" version="1.5.2" targetFramework="xamarinios10" />
  <package id="Xamarin.FFImageLoading" version="2.4.11.982" targetFramework="xamarinios10" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.4.11.982" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="4.7.0.1142" targetFramework="xamarinios10" />
</packages>